<main class="contenedor contenedor-formularios">
    <h1><%=nombrePagina%></h1>
    <form action="/crear-cuenta" method="POST" class="default-form">
        <div class="campo">
            <label>Email</label>
            <input type="email" name="email" id="email" placeholder="Tu Email">
        </div>
        <div class="campo">
            <label>Nombre</label>
            <input type="text" name="nombre" id="nombre" placeholder="Tu Nombre">
        </div>
        <div class="campo">
            <label>Password</label>
            <input type="password" name="password" id="password" placeholder="Tu Password">
        </div>
        <div class="campo">
            <label>Confirmar Password</label>
            <input type="password" name="confirmar" id="confirmar" placeholder="Repite tu Password">
        </div>
        <div class="campo enviar">
            <input class="btn btn-rosa" type="submit" value="Crear Cuenta">
        </div>
    </form>
</main>