<h1 style="
    text-align: center;
    margin-top: 5rem;
    font-family: Arial, Helvetica, sans-serif;
">Confirmar tu Cuenta</h1>

<p style="
    font-family: Arial, Helvetica, sans-serif;
">Hola, estas a un paso de crear una comunidad en Meeti, solo debes confirmar tu cuenta mediante el siguiente enlace:</p>
<a href="<%= url %>" style="
    display: block;
    text-align: center;
    background-color: #00C879;
    color: #fff;
    padding: 1rem;
    margin: 2rem auto;
    width: 50%;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
">Confirmar tu cuenta</a>

<p style="
font-family: Arial, Helvetica, sans-serif;
">Si no puedes acceder a este enlace visita: <%= url %></p>
<p style="
font-family: Arial, Helvetica, sans-serif;
">Si no te has registrado en Meeti, ignora este correo.</p>